<div class="desktop">
  <div class="project" id="project-1"></div>
  <div class="project" id="project-2"></div>
  <div class="project" id="project-3"></div>

  <div class="browser" id="browser">
    <div class="top-bar">
      <div class="tab">My Projects</div>
      <input
        class="link"
        id="link"
        type="text"
        value="http://www.myProjects.yeah"
      />
      <div class="minimize" id="minimize">-</div>
      <div class="close" id="close">x</div>
    </div>
    <div class="content"></div>
  </div>
  <div class="options" id="options">
    <div class="open" id="open">Open</div>
    <div class="github" id="github">GitHub Link</div>
    <div class="properties" id="properties">Properties</div>
    <div class="credits" id="credits">Credits</div>
  </div>
</div>
